/* InsectCard.css */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0,91,65,0.5);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #008170;
}

.card:hover{
  box-shadow: 0 24px 48px rgba(0,91,65,0.9);
}

.card-body {
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.card-title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;

}

.card-title img {
  max-width: 100%; /* Ensure image doesn't exceed card width */
  height: auto;
  
}

h3 {
  font-size: 1.75em;
  margin-top: 0;
}
