/* InsectCard.css */
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 15px;
  display: inline-block;
  width: calc((100% - 60px) / 4); /* Adjusts the width for 4 cards per row */
  max-width: 250px; /* Ensures the maximum width of each card */
  overflow: hidden; /* Prevents content from overflowing the card boundaries */
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.2em; /* Adjusts the size of the species name */
}

.card-title img {
  width: 80%; /* Makes the image take up most of the space, but not too much */
  height: auto;
  float: right;
  margin-left: 10px;
}

h3 {
  font-size: 1.75em; /* Makes the price larger and easier to read */
  color: #333; /* Darkens the price text for better readability */
  margin-top: 0; /* Removes top margin to keep everything tight */
}
